[*]
end_of_line = crlf

[*.xml]
indent_style = space
charset = utf-8


[*.cs]
 csharp_style_expression_bodied_accessors = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_sort_system_directives_first = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion